.quiz-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--lg-color);
    padding: 1rem 2.5rem;
    /* border: 3px solid var(--primary-color); */
    border-radius: 5px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 25%);
}
.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    
}
.quiz-section-1{
    display: flex;
    justify-content: space-between;
   margin-bottom: 2rem;
}
.quiz-section-2{
    margin-bottom: 0.8rem;
}
.question{
    font-weight: bold;
    color: var(--font--secondary-color);
}
.options{
    display: flex;
    flex-direction: column;
}
.options input{
    display: none;
}
.options label{
    background-color: var(--body-background-color);
    box-shadow: 0 2px 3px rgba(0,0,0,0.25);
    margin: 0.5rem;
    border-radius: 5px;
    padding: 0.5rem;
}
.options label:hover{
    background-color: var(--primary-lg-hover);
    cursor: pointer;
}
.options label:active{
    background-color: var(--primary-color);
    cursor: pointer;
}
.btnn a{
    color: var(--lg-color);
}
.btnn{
    background-color: var(--font--secondary-color);   
}
.sm-btn-left{
    margin-right: auto;
}
.sm-right{
    margin-left: auto;
}