.quiz-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--lg-color);
    padding: 1rem 2.5rem;
    /* border: 3px solid var(--primary-color); */
    border-radius: 5px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 25%);
    width: 45%;
    margin: 1.2rem;
}
.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    
}
.quiz-section-1{
    display: flex;
    justify-content: space-between;
   margin-bottom: 2rem;
}
.quiz-section-2{
    margin-bottom: 0.8rem;
}
.question{
    font-weight: bold;
    color: var(--font--secondary-color);
}
.options{
    display: flex;
    flex-direction: column;
}
.options input{
    display: none;
}
.options label{
    background-color: var(--body-background-color);
    box-shadow: 0 2px 3px rgba(0,0,0,0.25);
    margin: 0.5rem;
    border-radius: 5px;
}
.options label span{
    width: 100%;
    height: 100%;
    display: block;
    padding: 0.5rem;
 
}
.options label:hover{
    background-color: var(--primary-color);
    color: var(--lg-color);
    cursor: pointer;
}
/* .options label input:checked{
    background-color: var(--primary-color);
    cursor: pointer;
} */
:checked + span{
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--lg-color);
    border: 1px solid var(--font--secondary-color);
}
.btnn a{
    color: var(--lg-color);
}
.btnn{
    background-color: var(--font--secondary-color);   
}
.sm-btn-left{
    margin-right: auto;
}
.sm-right{
    margin-left: auto;
}
@media (max-width:950px) {
    .quiz-card{
        width: 80%;
    }
  }
@media (max-width:550px) {
    .quiz-card{
        width: 90%;
    }
  }